{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Авторизація для медиків</title>
        <link rel="stylesheet" href="{% static 'diabetes/css/base.css' %}">
    </head>
    <body>
        {% if messages %}
        <div class="for-messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <h1>Авторизація для медиків</h1>
            {{ form.as_p }}
            <button type="submit">Авторизація</button>
            <p><a href="{% url 'register_medic' %}">Ще немає акаунту? Зареєструйтесь</a></p>
        </form>
    </body>
</html>