{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Авторизація для пацієнтів</title>
        <link rel="stylesheet" href="{% static 'diabetes/css/base.css' %}">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Авторизація</button>
            <p><a href="{% url 'register_patient' %}">Ще немає акаунту? Зареєструйтесь</a></p>
        </form>
    </body>
</html>