<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сторінка для медика</title>
</head>
<body>
    <a href="{% url 'logout' %}"><button>Вийти з акаунту</button></a>
    <h1>Вітаємо, {{ user.first_name }} {{ user.last_name }}!</h1>
    <h2>Ваша лікарня: {{ user.hospital }}</h2>
    <h2>Ваша посада: {{ user.position }}</h2>

    {% if patients %}
    <h2>Ваші пацієнти: </h2>
    <table>
        <thead>
            <tr>
                <th>Логін</th>
                <th>Ім'я та прізвище</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.username }}</td>
                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                <td>{{ patient.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>На даний момент за Вами не закріплено пацієнтів.</p>
    {% endif %}
    <div>
        <h2>Аналіз пацієнтів</h2>
        <table>
            <thead>
                <tr>
                    <th>Sepal Length</th>
                    <th>Sepal Width</th>
                    <th>Petal Length</th>
                    <th>Petal Width</th>
                    <th>Species</th>
                </tr>
            </thead>
            <tbody>
                {% for item in classification %}
                <tr>
                    <td>{{ item.sepal_length }}</td>
                    <td>{{ item.sepal_width }}</td>
                    <td>{{ item.petal_length }}</td>
                    <td>{{ item.petal_width }}</td>
                    <td><strong>{{ item.species }}</strong></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>