{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка лікаря</title>
    <link rel="stylesheet" href="{% static 'diabetes/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'diabetes/css/dashboard.css' %}">
    <style>
        table { width: 85%; border-collapse: collapse; margin-top: 15px; }
        th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }
    </style>
</head>
<body>
    <div class="header-container">
        <div>
            <h1>Вітаємо, {{ user.first_name }}!</h1>
            <small>Лікарня: {{ user.hospital }} |  Посада: {{ user.position }}</small>
        </div>
        <div>
            <span>{{user.username}}</span>
            <a href="{% url 'logout' %}" class="button" style="padding: 10px 20px; min-width: auto;">Вийти</a>
        </div>
    </div>
    <hr>

    {% if patients %}
    <h2>Аналіз стану пацієнтів (на основі останнього заміру)</h2>
    <table>
        <thead>
            <tr>
                <th>Пацієнт</th>
                <th>Рівень глюкози (ммоль/л)</th>
                <th>HbA1c</th>
                <th>Контекст</th>
                <th>Тип діабету</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
        {% for item in patients %}
            <tr>
                <td>
                    {{ item.profile.first_name }} {{ item.profile.last_name }}<br>
                    {{ item.profile.email }}
                </td>
                <td>{{ item.last_glucose }}</td>
                <td>{{ item.hba1c }}%</td>
                <td>{{ item.context_display }}</td>
                <td>{{ item.diabetes_type|cut:"type" }}</td>
                <td>{{ item.classification_status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>На даний момент за Вами не закріплено пацієнтів для аналізу.</p>
    {% endif %}

</body>
</html>