{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Diabetes project</title>
        <link rel="stylesheet" href="{% static 'diabetes/css/base.css' %}">
    </head>
    <body>
        <h1>Main page</h1>
        {% if not user.is_authenticated %}
        <a href="{% url 'auth_patient' %}"><button>Sign up (Patient)</button></a>
        <a href="{% url 'auth_medic' %}"><button>Sign up (Medic)</button></a>
        {% else %}
        <a href="{% url 'logout' %}"><button>Log out</button></a>

        {% endif %}
    </body>
</html>